body,html{
    font-family: 'Bangers', cursive;
    font-family: 'Raleway', sans-serif;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    min-width: 103%;
    overflow-x: hidden;
}


header > li, span, button{
    /* font-family: 'Open Sans', sans-serif; */
    /* text-transform: uppercase; */
    font-size: 120%;
    color: #f8f8f7;
    text-decoration: none;
    /* margin-left: -41px; */
    cursor: pointer;
}

.dropdown-content > div{
    font-size: 1.5em;
    color: #f8f8f7;
    text-decoration: none;
}

header{
    background-image: linear-gradient(#001219, #001e2a);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 11px;
    width: 99%;
    position: absolute;
    top: -4px;
    left: 0;
    z-index: 3;
    display: flex;
}

.plaver nav{
    
}

.name{
    margin-inline: 9px;
}

#logo{
    width: 180px;
    height: 90px;
}
.nav-links1, .nav-links2{
    transition: all 0.2s ease 0s;
    padding: 20px;
    color: white;
    font-size: 30px;
}


@media screen and (max-width: 1080px) {
    button{
        display: none;
    }
    .nav-links li{
        padding: 0px 10px;
    }
}
@media screen and (max-width: 730px) {
    .nav-links {
        display: none;
    }
    header{
        display: block;
        text-align: right;
    }
}

.dropbtn {
    background-color: rgb(150, 75, 0);
    border-radius: 20px;
    color: white;
    padding: 16px;
    font-size: 30px;
    border: none;
    cursor: pointer;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content div{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content div:hover {background-color: rgb(226, 211, 196)} 
  
.dropdown:hover .dropdown-content {
    display: block;
  }
  
.dropdown:hover .dropbtn {
    background-color: rgb(237, 169, 101);
  }


/* about the podcast popup*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
.modal-content {
    background-color: thistle;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: #000;
  }
  
  /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
  }
/*  */



.player{
    height: 100%;
    display: flex;
    left: 0;
    background-image: url("/Users/BigAL/Documents/Ebook/IS/Web/Codes/Podcast1/style/images/Web image.png");
    background-repeat:repeat;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* position: relative; */
    margin-top: 80px;    
}

.bg-img{
    background-image: url("/Users/BigAL/Documents/Ebook/IS/Web/Codes/Podcast1/style/images/Web image.png");
    background-size:contain;
    background-repeat: repeat;
    height: 200%;
    opacity: 0.2;  
    
}

.wrapper{
    /* border: 1px solid transparent; */
    /* padding: 10px; */
    border-radius: 54px;
    background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 40px 60px, rgba(0, 0, 0, 0.22) 0px 30px 30px;
    margin-bottom: 15vh;
}


.details{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.header2{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-bottom: 30px; */
    justify-content:space-around;
    position: relative;
}

.team-logo{
    width: 100px;
    margin: auto;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.now-playing{
    font-size: 20px;
    /* background-color: #f1f1f1; */
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 37px;
}

#hkTime{
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 5px;
}

.track-art{
    margin-bottom: 70px;
    height: 200px;
    width: 200px;
    border: 2px solid #fff;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    -moz-box-shadow: 0px 6px 5px #ccc;
    -webkit-box-shadow:0px 6px 5px #ccc;
    box-shadow: 0px 6px 5px #ccc;
    -moz-border-radius:190px;
    -webkit-border-radius:190px;
    border-radius: 190px;
}

.track-name{
    font-size: 2.2rem;
}

.track-artist{
    margin-top: 5px;
    font-size: 1.5rem;
}

.slide-container{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.current-time{
    padding: 10px;
}

.seek-slider{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    width: 145%;
    background: #83a9ff;
    -webkit-transition: .2s;
    transition: opacity .2s;
    z-index: 1;
}

.volume-slider{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #83a9ff;
    -webkit-transition: .2s;
    transition: opacity .2s;
    z-index: 1;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border: 3px solid #3774ff;
    cursor: pointer;
    border-radius: 100%;
}

.seek_slider:hover,
.volume_slider:hover{
    opacity: 1.0;
}

.seek_slider{
    width: 60%;
}
.volume_slider{
    width: 30%;
}

.total-duration{
    padding: 10px;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    z-index: 1;
}

.active{
    color: black;
}

.random-track{
    padding: 25px;
    opacity: 0.8;
    transition: opacity .2s;
}

.prev-track{
    padding: 25px;
    opacity: 0.8;
    transition: opacity .2s;
}

.playpause-track{
    padding: 25px;
    opacity: 0.8;
    transition: opacity .2s;
}

.next-track{
    padding: 25px;
    opacity: 0.8;
    transition: opacity .2s;
}

.repeat-track{
    padding: 25px;
    opacity: 0.8;
    transition: opacity .2s;
}

.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover{
    opacity: 1.0;
}

i.fa-volume-down,
i.fa-volume-up{
    padding: 10px;
}
i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward{
    cursor: pointer;
}

.randomActive{
    color: black;
}
.rotate{
    animation: rotation 8s infinite linear;
}
@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}
.loader{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader .stroke{
    background: #f1f1f1;
    height: 150%;
    width: 10px;
    border-radius: 50px;
    margin: 0px 5px;
    animation: animate 1.4s linear infinite;
}
@keyframes animate{
    50%{
        height: 20%;
        background: #4286f4;
    }
    100%{
        height: 100%;
    }
}

#wave{

}

.stroke:nth-child(1){
    animation-delay: 0s;
}
.stroke:nth-child(2){
    animation-delay: 0.3s;
}
.stroke:nth-child(3){
    animation-delay: 0.6s;
}
.stroke:nth-child(4){
    animation-delay: 0.9s;
}
.stroke:nth-child(5){
    animation-delay: 0.6s;
}
.stroke:nth-child(6){
    animation-delay: 0.3s;
}
.stroke:nth-child(7){
    animation-delay: 0s;
}


/* footer credit */

footer{
    background-color: var(--primary);
    text-align: center;
    margin-left: -40px;
    background-color: #24252a;
    bottom: 0px;
    margin: auto;
    padding: 27px;
    width: 104vw;
    /* position: absolute; */

}

footer .footerMarca{
    /* font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-family: 'Pacifico', cursive; */
    font-size: 2rem;
    color: white !important;
}

footer p{
    margin-top: 1rem;
    color: white;
    opacity: 0.7;
    font-size: 25px;
}

footer div i{
    color: white;
    font-size: 1.8rem;
}

footer small{
    color: white;
    opacity: 0.7;
}

footer .bi-instagram, footer .bi-facebook{
    opacity: 0.7;
    transition: all 0.3s;
}

footer .bi-instagram:hover{
    color: #DD2A7B;
    opacity: 1;
}

footer .bi-facebook:hover{
    color: white;
    opacity: 1;
}